:root {
  --primary-color: #2196f3;
  --secondary-color: #ff4081;
  --tertiary-color: #2196f3;
  --success-color: green;
  --error-color: #df2121;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
}
