.no-records-found {
  padding: 20px;
  text-align: center;
  background-color: #DDDDDD;
  color: #AAAAAA;
  font-size: 18px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
